

<% if flash[:notice] %>
    <div style="color: red"><%= flash[:notice] %></div>
  <% end %>
<% if flash[:error] %>
    <div style="color: red">
      <%= flash[:error] %>
    </div>
<% end %>
<div class='form'>
<h1 class="title">Sign in</h1>
  <%= form_tag sessions_path do %>
    <div class='group'>
      <%= label_tag :email, nil, class: 'form-input-label' %>
      <%= text_field_tag :email, params[:email], class: 'form-input' %>
    </div>
    <div class='group'>
      <%= label_tag :password, nil, class: 'form-input-label' %>
      <%= password_field_tag :password, nil, class: 'form-input'%>
    </div>
    <div class='group'>
    <%= submit_tag "Sign in", class: 'ui primary button'%>
    </div>
  <% end %>
</div>