<h1>Coaches List</h1>

<% @coaches.each do |c| %>
    <div class="ui card">
        <a class="image" href="<%= coach_path(c) %>">
        <img src="<%= c.img_url %>" height=200>
        </a>
        <div class="content">
            <a class="header" href="<%= coach_path(c) %>"><%= c.name %></a>
        <div class="meta">
            <h4>Specialties:</h4>
            <% c.specialties.uniq.each do |s| %>
                <%= s.name %><br>
            <% end %>
        </div>
        </div>
    </div>
<% end %>