<h1><%= @coach.name %></h1>
<img src="<%= @coach.img_url %>" height=400>
<h2><%=pluralize @coach.specialties.count, "Specialty"%>: </h2>
<ul>
<% @coach.specialties.each do |s| %>
  <li><%= link_to s.name, s %></li>
<% end %>
</ul>

<button><%= link_to "Leave a review", new_coach_review_path%></button>