<h1>Gym List</h1>

<% @gyms.each do |g| %>
    <div class="ui card">
        <a class="image" href="<%= gym_path(g) %>">
        <img src="<%= g.img_url %>" height=200>
        </a>
        <div class="content">
        <a class="header" href="<%= gym_path(g) %>"><%= g.name %></a>
        <div class="meta">
            <%= g.address %><br>
            <h4>Equipment Available:</h4>
                <% g.equipments.uniq.each do |e| %>
                <%= link_to e.name, e %>- 
            <% end %>
        </div>
        </div>
    </div>
<% end %>