<img src="<%= @gym.img_url %>">
<h1><%= @gym.name %></h1>
<h2>Address: <%= @gym.address %></h2>
<br><br>
<h3>Rating: <%= @gym.review_rating_average %>(<%= @gym.gym_reviews.count %>)</h3>
<h3>Members: <%= @gym.memberships_count %></h3>
<%# <h3>Rating:</h3> %>
<h3>Coaches:</h3>
<ul>
    <% @gym.coaches.each do |c| %>
        <li><%= link_to c.name, c %></li>
    <% end %>
</ul>

<h3>Equipment Available:</h3>
<ul>
    <% @gym.equipments.uniq.each do |e| %>
        <li><%= link_to e.name, e %></li>
    <% end %>
</ul>

<button><%= link_to "Leave a review", new_gym_review_path%></button>
