<!DOCTYPE html>
<html>
  <head>
    <title>Swolemates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div class='header'>
      <%= link_to "SWOLEMATES", root_path %>
      <div class='option'>
        <%= link_to "MY ACCOUNT", @member %>|
        <%= link_to "GYMS", gyms_path %> | 
        <%= link_to "COACHES", coaches_path %> | 
        <%= link_to "SIGN IN", signin_path %> | 
        <%= link_to "SIGN UP", signup_path %> | 
      </div>
    </div>
  </nav>

  <div class='content'>
    <body>      
      <%= yield %>
    </body>
  </div>
</html>
