<%# <h1>New Member:</h1>

<%= render 'form' %>

<% if flash[:error] %>
    <div style="color: red">
      <%= flash[:error] %>
    </div>
<% end %>
<div class='form'>
  <h1 class='title'>Sign Up</h1>
  <%= form_for @member do |f| %>
    <div class='group'>
    <%= f.label :name, {:class => 'form-input-label'} %>
    <%= f.text_field :name, {:class => 'form-input'} %>
    </div>
    <div class='group'>
      <%= f.label :email, {:class => 'form-input-label'} %>
      <%= f.text_field :email, {:class => 'form-input'} %>
    </div>
    <div class='group'>
      <%= f.label :age, {:class => 'form-input-label'} %>
      <%= f.number_field :age, {:class => 'form-input'} %>
    </div>
    <div class='group'>
      <%= f.label :address, {:class => 'form-input-label'} %>
      <%= f.text_field :address, {:class => 'form-input'} %>
    </div>

    <div class='group'>
      <%= f.label "Image URL", {:class => 'form-input-label'} %>
      <%# STRETCH GOAL: <%= f.file_field :img_url %> 
      <%= f.text_field :img_url, {:class => 'form-input'} %>
    </div>

    <div class='group'>
      <%= f.label :password, {:class => 'form-input-label'} %>
      <%= f.password_field :password, {:class => 'form-input'} %>
    </div>
    <div class='group'>
      <%= f.label :password_confirmation, {:class => 'form-input-label'} %>
      <%= f.password_field :password_confirmation, {:class => 'form-input'} %>
    </div>
    <%= f.submit "Sign up", {:class => 'ui pink button'} %>
  <% end %>
</div>
