<%# <h1>New Member:</h1>

<%= render 'form' %>

<h1>Sign Up</h1>
<% if flash[:error] %>
    <div style="color: red">
      <%= flash[:error] %>
    </div>
<% end %>

<%= form_for @member do |f| %>
  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label "Image URL" %><br>
    <%# STRETCH GOAL: <%= f.file_field :img_url %> 
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit %>
<% end %>
