
<img src="<%= @member.img_url %>">
<h1><%= @member.name %></h1>
<h3><%= @member.email %></h3>
Age: <%= @member.age %><br>
Address: <%= @member.address %>
<br><br>
My Gyms:<br>
<ul>
    <% @member.memberships.each do |m| %>
        <li><%= link_to m.gym.name, m.gym %></li>
    <% end %>
</ul>
My Coaches:<br>
<ul>
    <% @member.coaches.each do |c| %>
        <li><%= link_to c.name, c %></li>
    <% end %>
</ul>
<h2>Reviews Submitted:</h2>
Gym Reviews:
<ul>
    <% @member.gym_reviews.each do |r| %>
        <li><%= link_to r.gym.name, r.gym %></li>
    <% end %>
</ul>
Coach Reviews:
<ul>
    <% @member.coach_reviews.each do |r| %>
        <li><%= link_to r.coach.name, r.coach %></li>
    <% end %>
</ul>

<button><%= link_to "Edit profile", edit_member_path %></button>