
<div class='container'>
<img src="<%= @member.img_url %>" height=400>

<h1><%= @member.name %></h1>
<h3><%= @member.email %></h3>
<p>Age: <%= @member.age %></p>
<p>Address: <%= @member.address %></p>

<p>My Gyms:</p>
<ul>
    <% @member.memberships.each do |m| %>
        <li><%= link_to m.gym.name, m.gym %></li>
    <% end %>
</ul>
<p>My Coaches:</p>
<ul>
    <% @member.coaches.each do |c| %>
        <li><%= link_to c.name, c %></li>
    <% end %>
</ul>
<h2>Reviews Submitted:</h2>
<p>Gym Reviews:</p>
<ul>
    <% @member.gym_reviews.each do |r| %>
        <li><%= link_to r.gym.name, r %></li>
    <% end %>
</ul>
<p>Coach Reviews:</p>
<ul>
    <% @member.coach_reviews.each do |r| %>
        <li><%= link_to r.coach.name, r.coach %></li>
    <% end %>
</ul>
<div class='buttons'>
    <%= link_to "Edit profile", edit_member_path, :class => 'ui button pink' %>
    <%= button_to "Delete Account", @member, :method => :delete, :class => 'ui button pink'%>
</div>
</div>